<!-- orderHistory.ejs -->
<h1>Order History</h1>

<% orders.forEach((order) => { %>
  <div class="order">
    <h2>Order ID: <%= order._id %></h2>
    <p>Total: <%= order.total %></p>
    
    <% order.products.forEach((product) => { %>
      <div class="product">
        <div class="product-info">
          <img src="<%= product.image %>" alt="<%= product.name %>">
          <h3><%= product.name %></h3>
          <p>Price: <%= product.price %></p>
          <p>Description: <%= product.description %></p>
        </div>
      </div>
    <% }) %>
  </div>
<% }) %>
